html {
  background-color: #000e21;
}

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding: 0px;
  margin: 0px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 14pt;
  background-color: #000e21;
  background-image: linear-gradient(314deg, #1f3d0a 0%, #000e21 74%);

  color: whitesmoke;
}

a {
  font-family: "Courier New", Courier, monospace;
  color: mediumspringgreen;
  padding: 0px 4px;
  background: darkslateblue;
}

h1 {
  font-family: "Bungee Hairline", cursive;
  font-size: 40pt;
  margin: 10px;
  color: darkslategrey;
}

h2,
h3,
h4,
h5 {
  text-align: center;
}

code {
  font-family: "Courier New", Courier, monospace;
  color: mediumspringgreen;
  padding: 0px 4px;
  background: darkslateblue;
}

footer {
  padding: 10px;
  text-align: center;
  font-size: small;
  background-color: #000e21;
}

#nav {
  text-align: right;
  padding: 8px;
  font-size: 12pt;
}

#nav img {
  height: 1.25em;
  width: auto;
  vertical-align: middle;
  margin: 0px 8px;
}

#header {
  text-align: center;
  padding-bottom: 60px;
  padding-top: 60pt;
  z-index: 3;
  margin: 0px 20vw;
}

#header p {
  margin: 0px;
}

#content {
  flex: 1 1 auto;
}

.row {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 10px 20px;
}

.col {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.logIcon {
  width: 1.5em;
  margin: 0px 4px;
}

.verdant-screenshot {
  width: 60vw;
}

.description {
  justify-content: center;
  padding: 20px;
}
