html {
  background-color: #d2ffc2;
}

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding: 0px;
  margin: 0px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 13pt;
  color: #222222;
}

a {
  font-family: "Courier New", Courier, monospace;
  color: mediumspringgreen;
  padding: 0px 4px;
  background: darkslateblue;
}

h1 {
  font-family: "Bungee Hairline", cursive;
  font-size: 40pt;
  margin: 10px;
  color: darkslategray;
}

h2,
h3,
h4,
h5 {
  text-align: center;
}

code {
  font-family: "Courier New", Courier, monospace;
  color: mediumspringgreen;
  padding: 0px 4px;
  background: darkslateblue;
}

footer {
  padding: 10px;
  text-align: center;
  font-size: small;
}

#nav {
  text-align: right;
  padding: 8px;
  font-size: 12pt;
  background: #fbfbef;
}

#nav img {
  height: 1.25em;
  width: auto;
  vertical-align: middle;
  margin: 0px 8px;
}

#header {
  text-align: center;
  padding-bottom: 60px;
  padding-top: 60pt;
  z-index: 3;
  padding-right: 20vw;
  background: linear-gradient(to bottom, #fbfbef 0%, #d2ffc2 100%);
  padding-left: 20vw;
}

#header p {
  margin: 0px;
}

#content {
  flex: 1 1 auto;
  padding-bottom: 4em;
  background: white;
  border-top: 1px solid darkslateblue;
  border-bottom: 1px solid darkslateblue;
}
#content a {
  font-family: unset;
  color: darkslateblue;
  padding: 0px;
  background: unset;
  text-decoration: underline;
}

#install {
  margin-top: 20px;
}

#page-nav {
  display: flex;
  flex-direction: row;
  margin: auto;
  padding: 0.5em 0px;
  margin-bottom: 0.5em;
  text-align: center;
  border: 1px solid darkslateblue;
  border-radius: 8px;
  border-width: 2px;
  background: #f4fff5;
}
#page-nav a {
  font-family: unset;
  color: unset;
  padding: 0px;
  background: unset;
  text-decoration: none;
}

.row {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 10px 10%;
}

.col {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.center-row {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px 20px;
  text-align: center;
}
.center-row .verdant-screenshot {
  max-width: 50%;
}

.logIcon {
  width: 1.5em;
  margin: 0px 4px;
}

.verdant-screenshot {
  max-width: 100%;
}

.description {
  justify-content: center;
  padding: 20px;
  min-width: 25vw;
}

.caption {
  margin: auto;
  text-align: center;
  margin-top: 4px;
  max-width: 60%;
}

.page-nav-title {
  padding: 0px 1em;
  border-right: 1px solid darkslateblue;
  user-select: none;
}
.page-nav-title:hover {
  text-decoration: underline;
}
.page-nav-title:last-child {
  border-right: 0px solid transparent;
}
.page-nav-title.selected {
  font-weight: bold;
  color: darkslateblue;
}
.page-nav-title.selected:hover {
  text-decoration: none;
}

.step {
  text-align: left;
  margin: 1em 10%;
  margin-bottom: 40px;
}
.step.intro {
  margin: 50px 20%;
  text-align: center;
  font-weight: bold;
}

.step h2 {
  text-align: left;
}

.center {
  text-align: center;
}

.QA {
  margin: auto;
  padding: 2em;
  width: calc(100% - 4em);
  text-align: center;
}

.question {
  font-style: italic;
  margin: auto;
  margin-bottom: 6px;
  width: 80%;
}
.question code {
  font-style: normal;
}

.answer {
  background-color: black;
  margin: 0px 1em;
  color: black;
  padding: 8px;
}
