.v-VerdantPanel-runCellMap {
  line-height: calc(1.5em + 4px);
  display: inline-block;
  text-align: left;
  padding-left: 2px;
  padding-right: 2px;
  flex: 1 1 69%;
  max-width: 69%;
  vertical-align: top;
}

.v-VerdantPanel-runCellMap-cell {
  display: inline-block;
  width: 1px;
  background-color: var(--jp-content-font-color3);
  margin-left: 1px;
  margin-right: 1px;
  height: 1em;
}

.v-VerdantPanel-runCellMap-cell.highlight {
  border-color: white;
}

.Verdant-events-date-header {
  padding: var(--jp-cell-padding);
  border-bottom: 1px solid var(--jp-border-color3);
  text-transform: uppercase;
  font-size: var(--jp-content-font-size0);
  padding-top: 1.5em;
  position: sticky;
  top: 0px;
  background: var(--jp-layout-color0);
  z-index: 2;
}

.Verdant-events-date-header-label {
  margin-left: 1.5em;
  margin-top: 2px;
}

.Verdant-events-row {
  padding: var(--jp-cell-padding);
  display: flex;
  flex-direction: row;
  padding-right: 0px;
}
.Verdant-events-row:hover {
  background: var(--jp-rendermime-table-row-hover-background);
}
.Verdant-events-notebook {
  display: inline-block;
  flex: 1 1 auto;
  vertical-align: baseline;
  padding-left: var(--jp-cell-padding);
  padding-right: var(--jp-cell-padding);
}
.Verdant-events-label {
  display: inline-block;
  flex: 1 1 auto;
  color: var(--jp-content-font-color2);
  padding: var(--jp-cell-padding);
  padding-left: 0px;
  max-width: 50%;
}
.Verdant-events-map {
  padding-top: 0.25em;
  flex: 5 0 50%;
  text-align: right;
  overflow: hidden;
  overflow-wrap: unset;
  white-space: nowrap;
  max-width: 75%;
}

.v-VerdantPanel-runCellMap-cell.target {
  width: 2px;
  margin-left: 0px;
  height: 1.5em;
  margin-bottom: calc(-0.25em - 2px);
  border-top: 2px solid var(--jp-content-font-color3);
  border-bottom: 2px solid var(--jp-content-font-color3);
  border-radius: 5px;
}

.v-VerdantPanel-runCellMap-cell-same {
  background-color: #d0c8d2;
}

.v-VerdantPanel-runCellMap-cell-changed {
  background-color: var(--verdant-cell-change-color2);
  border-color: var(--verdant-cell-change-color2);
}

.v-VerdantPanel-runCellMap-cell-removed {
  background-color: var(--verdant-cell-remove-color1);
  border-color: var(--verdant-cell-remove-color2);
}

.v-VerdantPanel-runCellMap-cell-same {
  background-color: #d0c8d2;
}

.v-VerdantPanel-runCellMap-cell-added {
  background-color: var(--verdant-cell-add-color1);
  border-color: var(--verdant-cell-add-color2);
}
