/* Date CSS */

.Verdant-events-date {
}

.Verdant-events-date-header {
  padding: var(--jp-cell-padding);
  border-bottom: 1px solid var(--jp-border-color3);
  text-transform: uppercase;
  font-size: var(--jp-content-font-size0);
  padding-top: 1.5em;
  position: sticky;
  top: 0px;
  background: var(--jp-layout-color0);
  z-index: 2;
  display: flex;
  justify-content: space-between;
}

.Verdant-events-date-header-label {
  margin-left: 1.5em;
  margin-top: 2px;
}

.Verdant-events-date-header-collapse {
  display: flex;
  flex-direction: row;
  text-align: center;
}

/* Bundle CSS */

.Verdant-events-bundle-single {
  margin-right: 4px;
}

.Verdant-events-bundle-multi-header {
  display: flex;
  flex-direction: row;
}

.Verdant-events-bundle-multi-header-arrow {
  margin-right: 0.5em;
  padding-left: var(--jp-cell-padding);
  padding-top: calc(1em - 8px);
}

.Verdant-events-bundle-multi-header-arrow.open {
  margin-right: 0.5em;
  padding-left: var(--jp-cell-padding);
  padding-top: 0px;
}

.Verdant-events-bundle-multi-header-container {
  flex: 1 1 auto;
  margin-right: 4px;
}

.Verdant-events-bundle-multi-header-container.open {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.Verdant-events-bundle-multi-header-container.open::before {
  content: "";
  flex: 1;
  border-bottom: 1px solid;
  margin-right: 0.25em;
}

.Verdant-events-bundle-multi-header-container.open::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid;
  margin-left: 0.25em;
}

.Verdant-events-bundle-multi-body {
  background-color: #f6f6f6;
  margin-right: 4px;
}

.Verdant-events-bundle-multi-footer {
  display: flex;
}

.Verdant-events-bundle-multi-footer-line {
  content: "";
  margin-right: 4px;
  border-bottom: 1px solid;
}

.Verdant-events-bundle-multi-footer-spacer {
  content: "";
  width: 10%;
}

/* Event CSS */

.Verdant-events-event {
  display: flex;
  flex-direction: row;
  padding-left: calc(var(--jp-cell-padding) + 0.5em + 7px);
}

.Verdant-events-event.bundle {
  padding-left: 0px;
}

.Verdant-events-event.ghostOpen {
  background: var(--verdant-ghost-color0);
}

.Verdant-events-event-stamp {
  flex: 0 0 5em; /* to prevent weird date text cropping */
  min-width: 5em;
  max-width: 5em;
}

.Verdant-events-event-row-index {
  flex: 0 0 5em;
  font-weight: bold;
  text-align: center;
  padding-top: 0.5em;
}

.Verdant-events-event-row-map {
  flex: 1 1 auto;
  padding-top: 0.5em;
}

/* Event Label CSS */

.Verdant-events-label {
  display: inline-block;
  flex: 1 1 auto;
  color: var(--jp-content-font-color2);
  padding: var(--jp-cell-padding);
  padding-left: 0px;
  max-width: calc(100% - 2 * var(--jp-cell-padding));
}

/* Event Map CSS */

.Verdant-events-map {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1 1 auto;
  vertical-align: baseline;
  padding-left: var(--jp-cell-padding);
}

.Verdant-events-map-cell {
  display: inline-block;
  width: 1px;
  margin: 2px 1px;
  height: 1em;
}

.Verdant-events-map-cell.highlight {
  border-color: white;
}

/* This is the default tick, for a cell that was just run */
.Verdant-events-map-cell.target {
  width: 2px;
  margin-left: 0px;
  margin-right: 1px;
  display: flex;
  height: 1.5em;
  position: absolute;
  margin-top: -0.125em;
}

/*
 CHANGED = "edited",
  REMOVED = "removed",
  ADDED = "added",
  SAME = "no change",
  MOVED = "moved",
  SAME = "n/a",
  TYPE_CHANGED = "type changed",
*/
.Verdant-events-map-cell.target.tic {
  flex: 1 1 auto;
  border-radius: 5px;
}

.Verdant-events-map-cell.target.tic.added {
  background-color: var(--verdant-cell-add-color1);
}

.Verdant-events-map-cell.target.tic.removed {
  background-color: var(--verdant-cell-remove-color1);
}

.Verdant-events-map-cell.target.tic.edited {
  background-color: var(--verdant-cell-change-color2);
}

.Verdant-events-map-cell.target.tic.moved {
  background-color: peru;
}

.Verdant-events-map-cell.target.tic.type_changed {
  background-color: cadetblue;
}

.Verdant-events-map-cell.target.tic.output_changed {
  background-color: #b6aeb8;
}

.Verdant-events-map-background {
  background: var(--jp-border-color3);
  display: inline-block;
  height: 1.25em;
  position: relative;
}
