/* Date CSS */

.Verdant-events-date {}

.Verdant-events-date-header {
  padding: var(--jp-cell-padding);
  border-bottom: 1px solid var(--jp-border-color3);
  text-transform: uppercase;
  font-size: var(--jp-content-font-size0);
  padding-top: 1.5em;
  position: sticky;
  top: 0px;
  background: var(--jp-layout-color0);
  z-index: 2;
  display: flex;
  justify-content: space-between;
}

.Verdant-events-date-header-label {
  margin-left: 1.5em;
  margin-top: 2px;
}

.Verdant-events-date-header-collapse {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.Verdant-events-date-header-collapse-count {
}

.Verdant-events-date-header-collapse-count.hidden {
  display: none;
}

.Verdant-events-date-header-collapse-arrow {
  display: inline-block;
  vertical-align: text-bottom;
  background-image: var(--verdant-icon-datearrow-open);
  width: 1.3em;
  background-position: top;
  background-repeat: no-repeat;
  padding: 5px;
}

.Verdant-events-date-header-collapse-arrow.closed {
  background-image: var(--verdant-icon-datearrow-closed);
}

/* Bundle CSS */

.Verdant-events-bundle {}

.Verdant-events-bundle-single {
  width: 90%;
}

.Verdant-events-bundle-multi {}

.Verdant-events-bundle-multi-header {
  display: flex;
  flex-direction: row;
}

.Verdant-events-bundle-multi-header-arrow {
  width: 10%;
  display: flex;
  flex-direction: row;
  text-align: center;
}

.Verdant-events-bundle-multi-header-arrow-image {
  display: inline-block;
  vertical-align: text-top;
  background-image: var(--verdant-icon-datearrow-open);
  width: 1.3em;
  background-position: top;
  background-repeat: no-repeat;
  padding: 5px;
}

.Verdant-events-bundle-multi-header-arrow-image.closed {
  background-image: var(--verdant-icon-datearrow-closed);
}

.Verdant-events-bundle-multi-header-container {
  width: 90%;
  min-height: 1.5em;
}

.Verdant-events-bundle-multi-header-container-open {
  display: flex;
  align-items: center;
}

.Verdant-events-bundle-multi-header-container-open::before {
  content: '';
  flex: 1;
  border-bottom: 1px solid;
  margin-right: .25em;
}

.Verdant-events-bundle-multi-header-container-open::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid;
  margin-left: .25em;
}

.Verdant-events-bundle-multi-body {
  background-color: #F6F6F6;
  width: 90%;
}

.Verdant-events-bundle-multi-footer {
  display: flex;
}

.Verdant-events-bundle-multi-footer-line {
  content: '';
  width: 90%;
  border-bottom: 1px solid;
}

.Verdant-events-bundle-multi-footer-spacer {
  content: '';
  width: 10%;
}

/* Event CSS */

.Verdant-events-event {
  padding: var(--jp-cell-padding);
  display: flex;
  flex-direction: row;
  padding-right: 0;
  vertical-align: center;
}

.Verdant-events-event:hover {
  background: var(--jp-rendermime-table-row-hover-background);
}

.Verdant-events-event-stamp {
  width: 33.3%;
  min-width: 4em; /* to prevent weird date text cropping */
}

.Verdant-events-event-row {
  width: 66.7%;
  display: flex;
}

.Verdant-events-event-row-index {
  width: 33.3%;
}

.Verdant-events-event-row-map {
  width: 66.7%;
}

/* Event Label CSS */

.Verdant-events-label {
  display: inline-block;
  flex: 1 1 auto;
  color: var(--jp-content-font-color2);
  padding: var(--jp-cell-padding);
  padding-left: 0px;
}

/* Event Map CSS */

.Verdant-events-map {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1 1 auto;
  vertical-align: baseline;
  padding-left: var(--jp-cell-padding);
  padding-right: var(--jp-cell-padding);
}

.Verdant-events-map-cell {
  display: inline-block;
  width: 1px;
  background-color: var(--jp-content-font-color3);
  margin: 2px 1px;
  height: 1em;
}

.Verdant-events-map-cell.highlight {
  border-color: white;
}

.Verdant-events-map-cell.target {
  width: 2px;
  margin-left: 0px;
  height: 1em;
  border-top: 2px solid var(--jp-content-font-color3);
  border-bottom: 2px solid var(--jp-content-font-color3);
  border-radius: 5px;
  margin-top: -1px;
}

.Verdant-events-map-cell-added {
  background-color: var(--verdant-cell-add-color1);
  border-color: var(--verdant-cell-add-color2);
}

.Verdant-events-map-cell-changed {
  background-color: var(--verdant-cell-change-color2);
  border-color: var(--verdant-cell-change-color2);
}

.Verdant-events-map-cell-removed {
  background-color: var(--verdant-cell-remove-color1);
  border-color: var(--verdant-cell-remove-color2);
}

.Verdant-events-map-cell-same {
  background-color: #d0c8d2;
}
