.v-Verdant-GhostBook {
  background-color: var(--verdant-ghost-color1);
  display: flex;
  flex-direction: column;
  height: 100%;
}

.v-Verdant-GhostBook-icon {
  background-image: var(--verdant-icon-ghostbook);
}

.v-Verdant-GhostBook-toolbar-item {
  height: var(--jp-private-toolbar-height);
  background-color: var(--jp-layout-color1);
}

.v-Verdant-GhostBook-toolbar {
  min-height: var(--jp-private-toolbar-height);
  background: transparent;
  z-index: 1;
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  border-color: transparent;
  padding: 0px;
}

.v-Verdant-GhostBook-change-toolbar {
  width: max-content;
  border-bottom-left-radius: var(--jp-border-radius);
  border-bottom-right-radius: var(--jp-border-radius);
  padding: 0px;
}

.v-Verdant-GhostBook-diff-toolbar {
  border-bottom-left-radius: var(--jp-border-radius);
  border-bottom-right-radius: var(--jp-border-radius);
  padding: 0px;
}

.v-Verdant-GhostBook-diff-button {
  padding: 0px;
  color: var(--jp-ui-font-color3);
}
.v-Verdant-GhostBook-diff-button.right {
}
.v-Verdant-GhostBook-diff-button.left {
  border-right: 1px solid var(--jp-border-color0);
}
.v-Verdant-GhostBook-diff-button.active {
  color: var(--jp-ui-font-color0);
  border-bottom: 2px solid var(--jp-brand-color1);
}

.v-Verdant-GhostBook-toolbar-priorButton {
  background-image: var(--jp-icon-expand-less);
}

.v-Verdant-GhostBook-toolbar-nextButton {
  background-image: var(--jp-icon-expand-more);
}

.v-Verdant-GhostBook-cell {
  background: var(--verdant-ghost-color1);
  color: var(--jp-content-font-color1);
}

.v-Verdant-GhostBook-cell-area {
  padding: var(--jp-notebook-padding);
  outline: none;
  overflow: auto;
  background: var(--verdant-ghost-color1);
  flex: 1 1 auto;
}

.v-Verdant-GhostBook-cell-selected {
  border: var(--jp-border-width) solid var(--jp-content-font-color2);
}

.v-Verdant-GhostBook-toolbar-edit-icon {
  flex: 1 1 32px;
  min-width: 32px;
  background-image: var(--verdant-icon-edit);
  height: var(--jp-private-toolbar-height);
}

.v-Verdant-GhostBook-toolbar-label {
  flex: 1 1 auto;
}

.v-Verdant-GhostBook-toolbar-label-text {
  height: 100%;
  margin-top: calc(var(--jp-ui-font-size1) * -0.25);
}

.v-Verdant-GhostBook-cell-changed {
  background-color: white;
  border: var(--jp-border-width) solid var(--jp-brand-color2);
}

.v-Verdant-GhostBook-cell-removed {
  background-color: white;
  border: var(--jp-border-width) solid red;
}

.v-Verdant-GhostBook-cell-added {
  background-color: white;
  border: var(--jp-border-width) solid green;
}

.v-Verdant-GhostBook-code-changed {
  background-color: var(--verdant-ghost-color2);
}

.v-Verdant-GhostBook-code-removed {
  color: red;
  text-decoration: line-through;
}

.v-Verdant-GhostBook-code-added {
  /*tested for accessibility */
  color: #1a4936;
  background-color: #defeb7;
}
