.v-Verdant-GhostBook {
  background-color: var(--verdant-ghost-color1);
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
}

.v-Verdant-GhostBook-icon {
  background-image: var(--verdant-icon-ghostbook);
}

.v-Verdant-GhostBook-toolbar-item {
  height: var(--jp-private-toolbar-height);
  background-color: var(--jp-layout-color1);
}

.v-Verdant-GhostBook-toolbar {
  min-height: var(--jp-private-toolbar-height);
  background: transparent;
  z-index: 1;
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  border-color: transparent;
  padding: 0px;
}

.v-Verdant-GhostBook-change-toolbar {
  width: max-content;
  border-bottom-left-radius: var(--jp-border-radius);
  border-bottom-right-radius: var(--jp-border-radius);
  padding: 0px;
}

.v-Verdant-GhostBook-diff-toolbar {
  border-bottom-left-radius: var(--jp-border-radius);
  border-bottom-right-radius: var(--jp-border-radius);
  padding: 0px;
}

.v-Verdant-GhostBook-diff-button {
  padding: 0px;
  color: var(--jp-ui-font-color3);
}
.v-Verdant-GhostBook-diff-button.right {
}
.v-Verdant-GhostBook-diff-button.left {
  border-right: 1px solid var(--jp-border-color0);
}
.v-Verdant-GhostBook-diff-button.active {
  color: var(--jp-ui-font-color0);
  border-bottom: 2px solid var(--jp-brand-color1);
}

.v-Verdant-GhostBook-toolbar-priorButton {
  background-image: var(--jp-icon-expand-less);
  min-height: 100%;
}

.v-Verdant-GhostBook-toolbar-nextButton {
  background-image: var(--jp-icon-expand-more);
  min-height: 100%;
}

.v-Verdant-GhostBook-cell {
  background: var(--jp-layout-color0);
  padding: var(--jp-cell-padding);
  color: var(--jp-content-font-color1);
  font-family: var(--jp-content-font-family);
  font-size: var(--jp-content-font-size1);
  line-height: var(--jp-content-line-height);
  margin-bottom: 0.5em;
}
.v-Verdant-GhostBook-cell.c {
  font-family: var(--jp-code-font-family);
  font-size: var(--jp-code-font-size);
  padding: var(--jp-code-padding);
  line-height: var(--jp-code-line-height);
  background: var(--jp-cell-editor-background);
  white-space: pre;
  overflow-x: auto;
  border: var(--jp-border-width) solid var(--jp-cell-editor-border-color);
}
.v-Verdant-GhostBook-cell.added {
  border: var(--jp-border-width) solid lawngreen;
}
.v-Verdant-GhostBook-cell.removed {
  border: var(--jp-border-width) solid red;
}

.v-Verdant-GhostBook-cell.active {
  border: var(--jp-border-width) solid var(--jp-cell-editor-active-border-color);
  box-shadow: var(--jp-input-box-shadow);
  background-color: var(--jp-cell-editor-active-background);
}

.v-Verdant-GhostBook-cell-area {
  padding: var(--jp-notebook-padding);
  outline: none;
  overflow: auto;
  background: var(--verdant-ghost-color1);
  flex: 1 1 auto;
}

.v-Verdant-GhostBook-cell-selected {
  border: var(--jp-border-width) solid var(--jp-content-font-color2);
}

.v-Verdant-GhostBook-toolbar-edit-icon {
  flex: 1 1 32px;
  min-width: 32px;
  background-image: var(--verdant-icon-edit);
  height: var(--jp-private-toolbar-height);
}

.v-Verdant-GhostBook-toolbar-label {
  flex: 1 1 auto;
}

.v-Verdant-GhostBook-toolbar-label-text {
  height: 100%;
}

.v-Verdant-GhostBook-cell-changed {
  background-color: white;
  border: var(--jp-border-width) solid var(--jp-brand-color2);
}

.v-Verdant-GhostBook-code-changed {
  background-color: var(--verdant-ghost-color2);
}

.v-Verdant-GhostBook-code-removed {
  color: red;
  text-decoration: line-through;
}

.v-Verdant-GhostBook-code-added {
  /*tested for accessibility */
  color: #1a4936;
  background-color: #defeb7;
}

.v-Verdant-GhostBook-filterBar {
  z-index: 5;
  position: absolute;
  top: 3px;
  left: 0px;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: var(--jp-private-toolbar-height);
}

.v-Verdant-GhostBook-filterButton {
  height: 24px;
  width: 24px;
  background-size: 12px;
  background-repeat: no-repeat;
  background-image: var(--verdant-icon-extra-filters);
  background-color: var(--jp-layout-color0);
  border-bottom-right-radius: var(--jp-border-radius);
  box-shadow: var(--jp-toolbar-box-shadow);
  border-right: var(--jp-border-width) solid var(--jp-toolbar-border-color);
  border-bottom: var(--jp-border-width) solid var(--jp-toolbar-border-color);
  padding-right: 10px;
  background-position-y: center;
  background-position-x: 5px;
}
.v-Verdant-GhostBook-filterButton::after {
  content: "";
  box-sizing: inherit;
  position: absolute;
  width: 20px;
  height: 16px;
  background-size: 16px;
  background-image: var(--verdant-icon-caretup);
  border: 1px solid transparent;
  background-repeat: no-repeat;
  left: 17px;
  top: 3px;
}
.v-Verdant-GhostBook-filterButton.open::after {
  background-image: var(--verdant-icon-caretdown);
}
.v-Verdant-GhostBook-filterButton.active {
  background-image: var(--verdant-icon-extra-filters-highlight);
}

.v-Verdant-GhostBook-filterTray {
  height: 24px;
  display: inline-block;
  margin-left: 1px;
  background-color: var(--jp-layout-color0);
  box-shadow: var(--jp-toolbar-box-shadow);
  border-radius: var(--jp-border-radius);
  border-right: var(--jp-border-width) solid var(--jp-toolbar-border-color);
  border-bottom: var(--jp-border-width) solid var(--jp-toolbar-border-color);
}

.v-Verdant-GhostBook-filter {
  border-right: var(--jp-border-width) solid var(--jp-toolbar-border-color);
  display: inline-block;
  font-size: var(--jp-code-font-size);
  padding-left: 8px;
  color: var(--jp-content-font-color3);
  padding-right: 8px;
  margin-right: -1px;
  height: calc(100% - 3px);
}
.v-Verdant-GhostBook-filter.active {
  color: var(--jp-content-font-color0);
  border-bottom: 2px solid var(--jp-cell-editor-active-border-color);
  padding-right: 22px;
}
.v-Verdant-GhostBook-filter.active::after {
  content: "";
  box-sizing: inherit;
  position: absolute;
  width: 20px;
  height: 16px;
  margin-left: 1px;
  background-size: 16px;
  background-image: var(--jp-icon-close);
  border: 1px solid transparent;
  background-position: center;
  background-repeat: no-repeat;
}

.v-Verdant-GhostBook-timeslider {
  overflow: visible;
  position: absolute;
  bottom: 0px;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 30px;
  user-select: none;
}

.v-Verdant-GhostBook-timeslider-axis {
  height: 8px;
  width: 100%;
  background-color: var(--jp-border-color1);
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v-Verdant-GhostBook-timeslider-axis.focus {
  background-color: var(--jp-border-color2);
}

.v-Verdant-GhostBook-timeslider-pointer {
  height: 8px;
  width: 0px;
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: var(--jp-brand-color1);
}

.v-Verdant-GhostBook-timeslider-pointer-point {
  height: 16px;
  width: 10px;
  position: absolute;
  top: -4px;
  right: -10px;
  display: inline-block;
  background-color: var(--jp-brand-color0);
  border-radius: 5px;
}

.v-Verdant-GhostBook-timeslider-bar {
  position: absolute;
  bottom: 100%;
  background-color: #1976d29e;
  border-top-left-radius: var(--jp-border-radius);
  border-top-right-radius: var(--jp-border-radius);
}

.v-Verdant-GhostBook-cell-header {
  padding: var(--jp-cell-padding);
  font-size: var(--jp-content-font-size0);
  font-family: var(--jp-content-font-family);
  color: var(--jp-content-font-color0);
  font-style: italic;
}

.v-Verdant-GhostBook-cell-container {
  margin-top: 0.5em;
  display: flex;
  flex-direction: row;
}
.v-Verdant-GhostBook-cell-content {
  padding-left: var(--jp-cell-prompt-width);
  flex: 1 1 100%;
}
.v-Verdant-GhostBook-cell-band {
  flex: 1 1 var(--jp-cell-collapser-width);
  padding: 0px;
  margin: 0px;
  border: none;
  outline: none;
  background: transparent;
  border-radius: var(--jp-border-radius);
  opacity: 1;
}
.v-Verdant-GhostBook-cell-band.active {
  background: var(--jp-brand-color1);
}

.v-Verdant-GhostBook-header {
  padding: var(--jp-cell-padding);
  font-size: var(--jp-content-font-size0);
  font-family: var(--jp-content-font-family);
  color: var(--jp-content-font-color0);
  flex-direction: column;
}

.v-Verdant-GhostBook-header-row {
  flex: 1 1 100%;
  min-width: 100%;
  display: block;
  color: var(--jp-content-font-color2);
  margin-bottom: 0.25em;
}

.v-Verdant-GhostBook-header-label {
  display: inline-block;
  height: 1.25em;
  vertical-align: top;
  padding-left: 0.5em;
  padding-top: 0.25em;
}

.v-Verdant-GhostBook-cellArea {
  padding: var(--jp-notebook-padding);
}

.tgl {
  display: none;
}
.tgl,
.tgl:after,
.tgl:before,
.tgl .tgl-light,
.tgl .tgl-light:after,
.tgl .tgl-light:before,
.tgl + .tgl-btn {
  box-sizing: border-box;
}

.tgl-btn {
  outline: 0;
  display: block;
  width: 3em;
  height: 1.5em;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.tgl + .tgl-btn:after,
.tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}
.tgl + .tgl-btn:after {
  left: 0;
}
.tgl + .tgl-btn:before {
  display: none;
}
.tgl.checked + .tgl-btn:after {
  left: 50%;
}
.tgl-light + .tgl-btn {
  background: #f0f0f0;
  border-radius: 2em;
  padding: 2px;
  transition: all 0.4s ease;
}
.tgl-light + .tgl-btn:after {
  border-radius: 50%;
  background: #fff;
  transition: all 0.2s ease;
}
.tgl-light.checked + .tgl-btn {
  background: #9fd6ae;
}
