/*-----------------------------------------------------------------------------
| Variables
|----------------------------------------------------------------------------*/

:root {
  --jp-private-verdant-manager-tab-height: 24px;

  --verdant-icon-ghostbook: url("img/ghost-book.svg");
  --verdant-icon-search: url("img/search.svg");

  --verdant-icon-extra-filters: url("img/filter.svg");
  --verdant-icon-extra-filters-highlight: url("img/filter-highlight.svg");

  --verdant-icon-wisk: url("img/wisk.svg");
  --verdant-icon-wisk-highlight: url("img/wisk-highlight.svg");

  --verdant-icon-timeinspect: url("img/time-inspect.svg");
  --verdant-icon-timeinspect-active: url("img/time-inspect-active.svg");

  --verdant-ghost-color1: #eff4f7;
  --verdant-cell-change-color1: #92cbef;
  --verdant-cell-change-color2: #2199f1;
  --verdant-cell-remove-color1: #ff7d7d;
  --verdant-cell-remove-color2: #ce1d1d;
  --verdant-cell-add-color1: #9dfcb6;
  --verdant-cell-add-color2: #107e5a;
}

/*-----------------------------------------------------------------------------
| Verdant in the dock panel, copied css from tabs-extension
|----------------------------------------------------------------------------*/

#v-VerdantPanel,
#v-VerdantPanel-tabs {
  display: inline-block;
  background: var(--jp-layout-color1);
  overflow: visible;
  color: var(--jp-ui-font-color1);
  /* This is needed so that all font sizing of children done in ems is
   * relative to this base size */
  font-size: var(--jp-ui-font-size1);
}

#v-VerdantPanel-tabs .p-TabBar-content {
  border-bottom: var(--jp-border-width) solid var(--jp-border-color2);
  width: 100%;
}

#v-VerdantPanel header {
  border-bottom: var(--jp-border-width) solid var(--jp-border-color2);
  width: 100%;
  font-size: var(--jp-ui-font-size0);
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0px;
  padding-bottom: 4px;
  padding-top: 4px;
  padding-left: 12px;
  text-transform: uppercase;
  display: inline-flex;
}

#v-VerdantPanel-tabs .p-TabBar-tab {
  height: var(--jp-private-verdant-manager-tab-height);
  padding: 0px 12px;
  border: none;
  position: relative;
  overflow: visible;
}

#v-VerdantPanel-tabs .p-TabBar-tab:hover:not(.jp-mod-active) {
  background: var(--jp-layout-color2);
}

#v-VerdantPanel-tabs .p-TabBar-tab:first-child {
  margin-left: 0;
}

#v-VerdantPanel-tabs .p-TabBar-tab.jp-mod-active {
  color: white;
  background: var(--jp-brand-color1);
}

#v-VerdantPanel-tabs .p-TabBar-tabIcon,
#v-VerdantPanel-tabs .p-TabBar-tabLabel {
  display: inline-block;
}

#v-VerdantPanel-tabs .p-TabBar-tabCloseIcon {
  visibility: hidden;
}

#v-VerdantPanel-tabs .p-TabBar-tabLabel {
  line-height: var(--jp-private-verdant-manager-tab-height);
  padding-left: 4px;
}

#v-VerdantPanel-tabs .p-TabBar-tab .p-TabBar-tabIcon {
  width: 14px;
  background-position: left center;
  background-repeat: no-repeat;
  margin-right: 2px;
}
