/*-----------------------------------------------------------------------------
| Variables
|----------------------------------------------------------------------------*/

:root {
  --jp-private-verdant-manager-active-top-border: 2px;
  --jp-private-verdant-manager-tab-height: 24px;
  --jp-private-verdant-manager-tab-padding-top: 8px;
  --verdant-icon-caretdown: url("img/chevron-more.svg");
  --verdant-icon-caretdown-highlight: url("img/chevron-more-highlight.svg");
  --verdant-icon-caretup: url("img/chevron-less.svg");
  --verdant-icon-caretup-highlight: url("img/chevron-less-highlight.svg");
  --verdant-icon-ghostbook: url("img/ghost-book.svg");
  --verdant-icon-edit: url("img/pen.svg");
  --verdant-icon-star: url("img/star.svg");
  --verdant-icon-star-highlight: url("img/star-highlight.svg");
  --verdant-icon-comment: url("img/comment.svg");
  --verdant-icon-comment-highlight: url("img/comment-highlight.svg");
  --verdant-icon-mod-filter: url("img/mod-filter.svg");
  --verdant-icon-add-filter: url("img/add-filter.svg");
  --verdant-icon-remove-filter: url("img/remove-filter.svg");
  --verdant-icon-timeinspect: url("img/time-inspect.svg");
  --verdant-icon-timeinspect-active: url("img/time-inspect-active.svg");
  --verdant-icon-cell-changed: url("img/cell-changed.svg");
  --verdant-icon-cell-added: url("img/cell-added.svg");
  --verdant-icon-cell-removed: url("img/cell-removed.svg");
  --verdant-icon-cell-same: url("img/cell-same.svg");
  --verdant-icon-cell-changed-highlight: url("img/cell-changed-highlight.svg");
  --verdant-icon-cell-added-highlight: url("img/cell-added-highlight.svg");
  --verdant-icon-cell-removed-highlight: url("img/cell-removed-highlight.svg");
  --verdant-icon-cell-same-highlight: url("img/cell-same-highlight.svg");
  --verdant-highlight-color1: #c5e5fc;
  --verdant-ghost-color1: #e9eff5;
  --verdant-ghost-color2: #e1f5ff;
  --verdant-cell-change-color1: #92cbef;
  --verdant-cell-change-color2: #2199f1;
  --verdant-cell-remove-color1: #ff7d7d;
  --verdant-cell-remove-color2: #ce1d1d;
  --verdant-cell-add-color1: #9dfcb6;
  --verdant-cell-add-color2: #107e5a;
}

/*-----------------------------------------------------------------------------
| Verdant in the dock panel, copied css from tabs-extension
|----------------------------------------------------------------------------*/

#v-VerdantPanel,
#v-VerdantPanel-tabs {
  display: inline-block;
  background: var(--jp-layout-color1);
  overflow: visible;
  color: var(--jp-ui-font-color1);
  /* This is needed so that all font sizing of children done in ems is
   * relative to this base size */
  font-size: var(--jp-ui-font-size1);
}

#v-VerdantPanel-tabs .p-TabBar-content {
  border-bottom: var(--jp-border-width) solid var(--jp-border-color2);
  width: 100%;
}

#v-VerdantPanel header {
  border-bottom: var(--jp-border-width) solid var(--jp-border-color2);
  width: 100%;
  font-size: var(--jp-ui-font-size0);
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0px;
  padding-bottom: 4px;
  padding-top: 4px;
  padding-left: 12px;
  text-transform: uppercase;
  display: inline-flex;
}

#v-VerdantPanel-tabs .p-TabBar-tab {
  height: var(--jp-private-verdant-manager-tab-height);
  padding: 0px 12px;
  border: none;
  position: relative;
  overflow: visible;
}

#v-VerdantPanel-tabs .p-TabBar-tab:hover:not(.jp-mod-active) {
  background: var(--jp-layout-color2);
}

#v-VerdantPanel-tabs .p-TabBar-tab:first-child {
  margin-left: 0;
}

#v-VerdantPanel-tabs .p-TabBar-tab.jp-mod-active {
  color: white;
  background: var(--jp-brand-color1);
}

#v-VerdantPanel-tabs .p-TabBar-tabIcon,
#v-VerdantPanel-tabs .p-TabBar-tabLabel {
  display: inline-block;
}

#v-VerdantPanel-tabs .p-TabBar-tabCloseIcon {
  visibility: hidden;
}

#v-VerdantPanel-tabs .p-TabBar-tabLabel {
  line-height: var(--jp-private-verdant-manager-tab-height);
  padding-left: 4px;
}

#v-VerdantPanel-tabs .p-TabBar-tab .p-TabBar-tabIcon {
  width: 14px;
  background-position: left center;
  background-repeat: no-repeat;
  margin-right: 2px;
}
