/*-----------------------------------------------------------------------------
| Variables
|----------------------------------------------------------------------------*/

:root {
  --jp-private-verdant-manager-active-top-border: 2px;
  --jp-private-verdant-manager-tab-height: 24px;
  --jp-private-verdant-manager-tab-padding-top: 8px;
  --verdant-icon-caretdown: url("img/chevron-more.svg");
  --verdant-icon-cellrun: url("img/cell-run.svg");
  --verdant-icon-ghostbook: url("img/ghost-book.svg");
  --verdant-icon-edit: url("img/pen.svg");
  --verdant-icon-timeinspect: url("img/time-inspect.svg");
  --verdant-icon-timeinspect-active: url("img/time-inspect-active.svg");
  --verdant-highlight-color1: #c5e5fc;
  --verdant-ghost-color1: #e9eff5;
}

/*-----------------------------------------------------------------------------
| Verdant in the dock panel, copied css from tabs-extension
|----------------------------------------------------------------------------*/

#v-VerdantPanel,
#v-VerdantPanel-tabs {
  background: var(--jp-layout-color1);
  overflow: visible;
  color: var(--jp-ui-font-color1);
  /* This is needed so that all font sizing of children done in ems is
   * relative to this base size */
  font-size: var(--jp-ui-font-size1);
}

#v-VerdantPanel-tabs .p-TabBar-content {
  border-bottom: var(--jp-border-width) solid var(--jp-border-color2);
}

#v-VerdantPanel header {
  border-bottom: var(--jp-border-width) solid var(--jp-border-color2);
  flex: 0 0 auto;
  font-size: var(--jp-ui-font-size0);
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0px;
  padding-bottom: 4px;
  padding-top: 4px;
  padding-left: 12px;
  text-transform: uppercase;
  display: inline-flex;
  flex-direction: row;
}

#v-VerdantPanel-tabs .p-TabBar-tab {
  height: var(--jp-private-verdant-manager-tab-height);
  padding: 0px 12px;
  border: none;
  position: relative;
  overflow: visible;
}

#v-VerdantPanel-tabs .p-TabBar-tab:hover:not(.jp-mod-active) {
  background: var(--jp-layout-color2);
}

#v-VerdantPanel-tabs .p-TabBar-tab:first-child {
  margin-left: 0;
}

#v-VerdantPanel-tabs .p-TabBar-tab.jp-mod-active {
  color: white;
  background: var(--jp-brand-color1);
}

#v-VerdantPanel-tabs .p-TabBar-tabIcon,
#v-VerdantPanel-tabs .p-TabBar-tabLabel {
  display: inline-block;
}

#v-VerdantPanel-tabs .p-TabBar-tabCloseIcon {
  visibility: hidden;
}

#v-VerdantPanel-tabs .p-TabBar-tabLabel {
  line-height: var(--jp-private-verdant-manager-tab-height);
  padding-left: 4px;
}

#v-VerdantPanel-tabs .p-TabBar-tab .p-TabBar-tabIcon {
  width: 14px;
  background-position: left center;
  background-repeat: no-repeat;
  margin-right: 2px;
}

.v-VerdantPanel-header-title {
  padding-top: 8px;
}

.v-VerdantPanel-header-notebookLabel {
  display: inline-flex;
  padding-top: 8px;
  flex: 1 1 auto;
  padding-left: 0.75em;
}
.v-VerdantPanel-header-notebookLabel:hover {
  background: var(--jp-layout-color2);
}
.v-VerdantPanel-header-notebookLabel.closed {
  color: var(--jp-ui-font-color3);
}

.v-VerdantPanel-header-cellLabel {
  display: inline-flex;
  border-left: var(--jp-border-width) solid var(--jp-border-color0);
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8px;
  flex: 1 1 auto;
}
.v-VerdantPanel-header-cellLabel:hover {
  background: var(--jp-layout-color2);
}
.v-VerdantPanel-header-cellLabel.closed {
  color: var(--jp-ui-font-color3);
}

.v-VerdantPanel-runList-runDateTotal {
  font-size: var(--jp-ui-font-size0);
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--jp-ui-font-color2);
  display: inline-block;
}

.v-VerdantPanel-runList-dateLabel {
  font-size: var(--jp-ui-font-size0);
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: inline-block;
  padding-left: 10px;
}

.v-VerdantPanel-runList-caret {
  height: 1.5em;
  width: 1.5em;
  background-image: var(--jp-icon-expand-less);
  display: inline-block;
  float: right;
  margin-top: -2px;
}
.v-VerdantPanel-runList-caret.closed {
  background-image: var(--jp-icon-expand-more);
}

.v-VerdantPanel-runList-header {
  padding: 10px;
  padding-top: 15px;
  padding-bottom: 2px;
  border-bottom: var(--jp-border-width) solid var(--jp-border-color2);
  margin-bottom: 5px;
}

.v-VerdantPanel-runList-header:hover:not(.jp-mod-active) {
  background: var(--jp-layout-color2);
}

.v-VerdantPanel-runList-ul {
  -webkit-margin-before: 5px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}

.v-VerdantPanel-runItem {
  padding-bottom: 2px;
  padding-top: 2px;
}

.v-VerdantPanel-runItem:hover:not(.jp-mod-active) {
  background: var(--jp-layout-color2);
}

.v-VerdantPanel-runItem.jp-mod-active {
  color: white;
  background: var(--jp-brand-color1);
}

.v-VerdantPanel-runItem-caret {
  height: var(--jp-ui-font-size1);
  width: calc(var(--jp-ui-font-size1) * 0.8);
  background-image: var(--verdant-icon-caretdown);
  background-repeat: no-repeat;
  display: inline-block;
  float: left;
  margin-top: 0.5em;
  margin-left: 10px;
  background-position: center;
  border: 1px solid transparent;
}

.v-VerdantPanel-runItem-caret:hover {
  border: 1px solid;
}

.v-VerdantPanel-runItem-number {
  width: calc(var(--jp-ui-font-size1) * 2.5);
  font-size: var(--jp-ui-font-size1);
  font-weight: 400;
  letter-spacing: 1px;
  display: inline-block;
  margin-left: 5px;
}

.v-VerdantPanel-runItem-time {
  width: calc(var(--jp-ui-font-size1) * 5);
  font-size: var(--jp-ui-font-size1);
  font-weight: 400;
  letter-spacing: 1px;
  display: inline-block;
  padding-left: 5px;
}

.v-VerdantPanel-runCellMap {
  display: inline-block;
  text-align: left;
  padding-left: 5px;
}

.v-VerdantPanel-runCellMap-cell {
  display: inline-block;
  height: var(--jp-ui-font-size1);
  width: calc(var(--jp-ui-font-size1) * 0.75);
  border-bottom: 2px solid var(--jp-ui-font-color2);
  margin-left: 2px;
}

.v-VerdantPanel-runCellMap-cell-changed {
  background-color: #92cbef;
  border-bottom: 2px solid #2199f1;
}

.v-VerdantPanel-runCellMap-cell-removed {
  background-color: #ff7d7d;
  border-bottom: 2px solid #ce1d1d;
}

.v-VerdantPanel-runCellMap-cell-added {
  background-color: #9dfcb6;
  border-bottom: 2px solid #107e5a;
}

.v-VerdantPanel-runCellMap-runSymbol {
  width: calc(100%);
  height: calc(var(--jp-ui-font-size1) * 1 / 2 + 1px);
  margin-top: calc(var(--jp-ui-font-size1) * 1 / 2 + 1px);
  display: inline-block;
  text-align: center;
}

.v-VerdantPanel-input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
}

.verdant-indicator {
  visibility: hidden;
  width: 2em;
  height: 2em;
  background: var(--jp-brand-color2);
  color: white;
  font-size: var(--jp-code-font-size);
  line-height: var(--jp-code-line-height);
  letter-spacing: var(--jp-cell-prompt-letter-spacing);
  font-family: var(--jp-cell-prompt-font-family);
  text-align: center;
  border-radius: 10px;
  padding-top: 0.25em;
  position: absolute;
  left: calc(var(--jp-cell-prompt-width) / 2 - 1em);
  top: 50%;
}
.verdant-indicator.text-selected {
  background: var(--jp-editor-selected-focused-background);
  color: var(--jp-content-font-color1);
}
.verdant-indicator.focused {
  visibility: visible;
}

.v-VerdantPanel-cellPanel {
  padding: 10px;
  font-size: var(--jp-ui-font-size1);
  color: var(--jp-ui-font-color1);
}

.v-VerdantPanel-inspect-icon {
  padding: 5px;
  margin: 5px;
  background-image: var(--verdant-icon-timeinspect);
  background-repeat: no-repeat;
  border: 1px solid var(--verdant-highlight-color1);
  border-radius: 5px;
  display: inline-block;
  width: 1em;
  height: 1em;
}
.v-VerdantPanel-inspect-icon.active {
  background-image: var(--verdant-icon-timeinspect-active);
  border: 1px solid var(--jp-brand-color1);
}

.v-VerdantPanel-inspect-title {
  display: inline-block;
  margin-left: 5px;
  font-style: italic;
  vertical-align: top;
  margin-top: 10px;
}

.v-VerdantPanel-inspect-content {
  -webkit-margin-before: 5px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}

.v-VerdantPanel-inspect-version {
  font-size: var(--jp-code-font-size);
  line-height: var(--jp-code-line-height);
  letter-spacing: var(--jp-cell-prompt-letter-spacing);
  font-family: var(--jp-cell-prompt-font-family);
  margin-top: 10px;
  white-space: pre-wrap;
  width: max-content;
  text-align: left;
}
.v-VerdantPanel-inspect-version.markdown {
  font-size: var(--jp-ui-font-size1);
  color: var(--jp-ui-font-color1);
  font-family: var(--jp-ui-font-family);
}

.v-VerdantPanel-wishbone-highlight {
  background-color: var(--verdant-highlight-color1);
}

.v-VerdantPanel-wishbone-code-mask {
  width: 100%;
  height: 100%;
  display: inline-block;
  position: absolute;
  z-index: 12;
  top: 0px;
  left: 0px;
  cursor: default;
}

.v-VerdantPanel-wishbone-code-highlight {
  background-color: var(--verdant-highlight-color1);
}

.v-Verdant-GhostBook {
  background-color: var(--verdant-ghost-color1);
  display: flex;
  flex-direction: column;
  height: 100%;
}

.v-Verdant-GhostBook-icon {
  background-image: var(--verdant-icon-ghostbook);
}

.v-Verdant-GhostBook-toolbar {
  padding: 2px;
  height: 28px;
  box-shadow: var(--jp-toolbar-box-shadow);
  background: var(--jp-toolbar-background);
  z-index: 1;
}

.v-Verdant-GhostBook-toolbar-priorButton {
  background-image: var(--jp-icon-expand-less);
}

.v-Verdant-GhostBook-toolbar-nextButton {
  background-image: var(--jp-icon-expand-more);
}

.v-Verdant-GhostBook-cell {
  background: var(--verdant-ghost-color1);
  color: var(--jp-content-font-color1);
}

.v-Verdant-GhostBook-cell-area {
  padding: var(--jp-notebook-padding);
  outline: none;
  overflow: auto;
  background: var(--verdant-ghost-color1);
  flex: 1 1 auto;
}

.v-Verdant-GhostBook-toolbar-edit-icon {
  background-image: var(--verdant-icon-edit);
}

.v-Verdant-GhostBook-toolbar-label-text {
  height: 100%;
  margin-top: calc(var(--jp-ui-font-size1) * -0.25);
}

.v-Verdant-GhostBook-cell-changed {
  background-color: white;
  border: var(--jp-border-width) solid var(--jp-brand-color2);
}
