.v-VerdantPanel-inspect-content {
  -webkit-margin-before: 5px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}

.v-VerdantPanel-inspect-version-content {
  width: max-content;
  padding-left: 24px;
  font-family: var(--jp-cell-prompt-font-family);
  max-height: 250px;
  overflow: auto;
}
.v-VerdantPanel-inspect-version-content.overflow {
  border-bottom: 1px solid var(--jp-warn-color0);
  margin-bottom: 10px;
}

.v-VerdantPanel-inspect-version-content.markdown {
  font-family: var(--jp-content-font-family);
  width: calc(100% - 8px);
}
.v-VerdantPanel-inspect-version-content.code {
  white-space: pre-wrap;
}

.v-VerdantPanel-inspect-version {
  font-size: var(--jp-code-font-size);
  line-height: var(--jp-code-line-height);
  letter-spacing: var(--jp-cell-prompt-letter-spacing);
  font-family: var(--jp-cell-prompt-font-family);
  margin-top: 10px;
  text-align: left;
  padding-bottom: 1em;
  overflow-x: auto;
}
.v-VerdantPanel-inspect-version.last {
  border-bottom: var(--jp-border-width) solid transparent;
}
.v-VerdantPanel-inspect-version.markdown {
  font-size: var(--jp-ui-font-size1);
  color: var(--jp-ui-font-color1);
  font-family: var(--jp-ui-font-family);
}

.v-VerdantPanel-wishbone-highlight {
  background-color: var(--jp-editor-selected-focused-background);
  opacity: 0.4;
}
.v-VerdantPanel-wishbone-code {
  z-index: 14;
}
.v-VerdantPanel-wishbone-code-mask {
  width: 100%;
  height: 100%;
  display: inline-block;
  position: absolute;
  z-index: 12;
  top: 0px;
  left: 0px;
  cursor: default;
}
.v-VerdantPanel-wishbone-code-mask.highlight {
  background-color: var(--jp-editor-selected-focused-background);
  opacity: 0.4;
}

.v-VerdantPanel-wishbone-code-highlight {
  background: var(--jp-editor-selected-focused-background) !important;
  background-color: var(--jp-editor-selected-focused-background);
}

.v-Verdant-inspect-code-same {
  display: inline-block;
}
.v-Verdant-inspect-code-added {
  /*tested for accessibility */
  color: #1a4936;
  display: inline-block;
  background: #e8ffd5;
}
.v-Verdant-inspect-code-removed {
  color: red;
  text-decoration: line-through;
  display: inline-block;
}

.v-VerdantPanel-sample-searchResult {
  background-color: pink;
}

.v-VerdantPanel-inspect-version-header {
  font-size: var(--jp-ui-font-size0);
  padding-left: var(--jp-cell-padding);
  padding-top: var(--jp-cell-padding);
  color: var(--jp-content-font-color2);
  text-transform: uppercase;
  border-top: 1px solid var(--jp-border-color2);
}
.v-VerdantPanel-inspect-version-header.search {
  border-top: 0px;
}
.v-VerdantPanel-inspect-version-header.searchVerLabel {
  padding-inline-start: 2em;
  border-top: 0px;
}

.v-VerdantPanel-inspect-version-header-link {
  text-decoration: underline;
  color: var(--jp-content-link-color);
}
