#verdant-landing {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  text-align: center;
  padding: 0px 10%;
}

#verdant-landing-message {
  color: var(--jp-ui-font-color2);
  font-style: italic;
  font-size: var(--jp-content-font-size1);
}

#verdant-landing-img {
  background-image: var(--verdant-icon-logo);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 3em;
  margin-top: 20px;
}
