.v-VerdantPanel-notebookHistory {
  display: inline-flex;
  width: 100%;
  flex-direction: column;
  flex: 1 1 auto;
  overflow: hidden;
}

.v-VerdantPanel-workingItem {
  order: 1;
  display: inline-block;
  overflow: visible;
  width: 100%;
  padding-left: 15px;
  padding-top: 4px;
  padding-bottom: 4px;
  color: var(--jp-content-link-color);
}
.v-VerdantPanel-workingItem:hover {
  background: var(--verdant-ghost-color1);
}

.v-VerdantPanel-workingItem-label {
  display: inline-block;
}
.v-VerdantPanel-workingItem-label:hover {
  text-decoration: underline;
}

.v-VerdantPanel-runContainer {
  overflow: auto;
  flex: 1 1 auto;
}

.v-VerdantPanel-runList {
  overflow: visible;
}

.v-VerdantPanel-footer {
  flex: 1 1 auto;
  max-height: 2em;
  display: inline-block;
  padding-top: 2px;
  border-top: var(--jp-border-width) solid var(--jp-border-color2);
  font-size: var(--jp-ui-font-size0);
  letter-spacing: 1px;
  color: var(--jp-ui-font-color1);
}

.v-VerdantPanel-footer-button {
  padding: 2px;
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 0.5em;
  border-right: var(--jp-border-width) solid transparent;
  border-left: var(--jp-border-width) solid transparent;
}

.v-VerdantPanel-footer-button.open {
  z-index: 1;
  background: var(--jp-layout-color0);
  position: relative;
  margin-top: -2px;
  padding-top: 4px;
  border-right: var(--jp-border-width) solid var(--jp-border-color1);
  border-left: var(--jp-border-width) solid var(--jp-border-color1);
}

.v-VerdantPanel-legend-container {
  position: absolute;
  bottom: calc(2em - 1px);
  width: calc(100% - 22px);
  padding: 5px;
  background: var(--jp-layout-color0);
  border: var(--jp-border-width) solid var(--jp-border-color1);
  font-size: var(--jp-ui-font-size);
  margin-right: 5px;
  border-bottom: 0px;
  box-shadow: var(--jp-elevation-z6);
  margin-left: 5px;
}

.v-VerdantPanel-legend-label {
  display: inline-block;
  margin-left: 1em;
}

.v-VerdantPanel-legend-item {
  display: inline-block;
  padding-bottom: 5px;
  width: 50%;
}

.v-VerdantPanel-legend-item-intro {
  width: 100%;
  padding-bottom: 5px;
  display: inline-block;
}

.v-VerdantPanel-runCluster-list {
  display: inline-block;
  margin-left: 1.5em;
  border-left: 0.5em;
  padding-left: 0.5em;
  margin-bottom: 1em;
  cursor: default;
  background: var(--verdant-ghost-color1);
  border-bottom: 1px solid var(--jp-content-font-color3);
  width: calc(100% - 1.25em + 2px);
}

.v-VerdantPanel-runList-runDateTotal {
  font-size: var(--jp-ui-font-size0);
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--jp-ui-font-color2);
  display: inline-block;
  margin-top: 0.25em;
}

.v-VerdantPanel-runList-dateLabel {
  font-size: var(--jp-ui-font-size0);
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: inline-block;
  padding-left: 10px;
}

.v-VerdantPanel-runList-caret {
  height: 1.5em;
  width: 1.5em;
  background-image: var(--verdant-icon-caretup);
  display: inline-block;
  vertical-align: bottom;
  margin-left: 8px;
}
.v-VerdantPanel-runList-caret.closed {
  background-image: var(--verdant-icon-caretdown);
}

.v-VerdantPanel-runList-header {
  padding-left: 8px;
  padding-top: 8px;
  padding-bottom: 4px;
  border-bottom: var(--jp-border-width) solid var(--jp-border-color2);
  max-height: calc(1em + 15px);
}

.v-VerdantPanel-runList-header:hover:not(.jp-mod-active) {
  background: var(--jp-layout-color2);
}

.v-VerdantPanel-runList-ul {
  -webkit-margin-before: 5px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}

.v-VerdantPanel-runItem {
  padding-bottom: 2px;
  padding-top: 2px;
  display: flex;
  flex-direction: row;
  margin-top: 0.25em;
}

.v-VerdantPanel-runItem.loading {
  background: linear-gradient(-85deg, #2196f3, white, #2196f3);
  background-size: 400% 400%;
  -webkit-animation: Gradient 2s ease infinite;
  -moz-animation: Gradient 2s ease infinite;
  animation: Gradient 2s ease infinite;
}
@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.v-VerdantPanel-runItem.jp-mod-active {
  color: white;
  background: var(--jp-brand-color1);
}

.v-VerdantPanel-runItem-title-container {
  display: inline-flex;
  flex: 1 1 30%;
  max-width: 30%;
  padding-left: 2px;
}

.v-VerdantPanel-runItem-caret {
  height: var(--jp-ui-font-size1);
  max-width: 11px;
  background-image: var(--verdant-icon-caretdown);
  background-repeat: no-repeat;
  display: inline-block;
  float: left;
  padding-top: 0.25em;
  background-size: 16px;
  background-position: center;
  flex: 0 0 11px;
  border: 1px solid transparent;
}
.v-VerdantPanel-runItem-caret.highlight {
  background-image: var(--verdant-icon-caretdown-highlight);
}
.v-VerdantPanel-runItem-caret.open {
  background-image: var(--verdant-icon-caretup);
}
.v-VerdantPanel-runItem-caret.open.highlight {
  background-image: var(--verdant-icon-caretup-highlight);
}

.v-VerdantPanel-runItem-caret:hover {
  border: 1px solid;
}

.v-VerdantPanel-runItem-number {
  width: calc(var(--jp-ui-font-size1) * 2);
  font-size: var(--jp-ui-font-size1);
  font-weight: 400;
  letter-spacing: 1px;
  display: inline-block;
  margin-right: 0.25em;
  vertical-align: text-top;
  text-align: right;
}

.v-VerdantPanel-runItem-time {
  max-width: 4em;
  font-size: var(--jp-ui-font-size0);
  font-weight: 400;
  letter-spacing: 1px;
  display: inline-block;
  padding-left: 2px;
  vertical-align: text-top;
  flex: 1 1 4em;
  margin-top: 0.25em;
}

.v-VerdantPanel-runCellMap {
  line-height: calc(1.5em + 4px);
  display: inline-block;
  text-align: left;
  padding-left: 2px;
  padding-right: 2px;
  flex: 1 1 69%;
  max-width: 69%;
  vertical-align: top;
}

.v-VerdantPanel-runCellMap-cell {
  display: inline-block;
  width: 1px;
  background-color: var(--jp-content-font-color3);
  margin-left: 1px;
  margin-right: 1px;
  height: 1em;
}
.v-VerdantPanel-runCellMap-cell.run {
  width: 2px;
  background-color: #f0f0f0;
  margin-left: 0px;
  height: 1.5em;
  margin-bottom: calc(-0.25em - 2px);
  border-top: 2px solid var(--jp-content-font-color3);
  border-bottom: 2px solid var(--jp-content-font-color3);
  border-radius: 5px;
}
.v-VerdantPanel-runCellMap-cell.highlight {
  border-color: white;
}

.v-VerdantPanel-runCellMap-cellBox {
  width: calc(var(--jp-ui-font-size1) + 2px);
  height: calc(var(--jp-ui-font-size1) + 2px);
  display: inline-block;
  vertical-align: text-top;
  margin-left: 1em;
  margin-top: 0.5em;
}
.v-VerdantPanel-runCellMap-cellBox:hover {
  background-color: var(--verdant-cell-change-color1);
}
.v-VerdantPanel-runCellMap-cellBox.same:hover {
  background-color: var(--jp-border-color1);
}
.v-VerdantPanel-runCellMap-cellBox.added:hover {
  background-color: var(--verdant-cell-add-color1);
}
.v-VerdantPanel-runCellMap-cellBox.removed:hover {
  background-color: var(--verdant-cell-remove-color1);
}

.v-VerdantPanel-runCellMap-cellbox-icon {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  background: var(--verdant-icon-cell-changed);
}
.v-VerdantPanel-runCellMap-cellbox-icon.highlight {
  background: var(--verdant-icon-cell-changed-highlight);
}
.v-VerdantPanel-runCellMap-cellbox-icon.added {
  background: var(--verdant-icon-cell-added);
}
.v-VerdantPanel-runCellMap-cellbox-icon.added.highlight {
  background: var(--verdant-icon-cell-added-highlight);
}
.v-VerdantPanel-runCellMap-cellbox-icon.removed {
  background: var(--verdant-icon-cell-removed);
}
.v-VerdantPanel-runCellMap-cellbox-icon.removed.highlight {
  background: var(--verdant-icon-cell-removed-highlight);
}
.v-VerdantPanel-runCellMap-cellbox-icon.same {
  background: var(--verdant-icon-cell-same);
}
.v-VerdantPanel-runCellMap-cellbox-icon.same.highlight {
  background: var(--verdant-icon-cell-same-highlight);
}
.v-VerdantPanel-runCellMap-cellBox-descBox {
  vertical-align: top;
  display: inline-block;
  width: calc(100% - 2em - 9px);
  padding-right: 5px;
  margin-bottom: 4px;
}

.v-VerdantPanel-runCellMap-label {
  border-radius: 2px;
  border: var(--jp-border-width) solid transparent;
  display: inline-block;
  margin-top: 0.5em;
}

.v-VerdantPanel-runCellMap-button {
  padding: 1px;
  border-radius: 2px;
  border: var(--jp-border-width) solid var(--jp-border-color1);
  font-size: var(--jp-content-font-size0);
  margin: 4px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--jp-ui-font-color2);
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
.v-VerdantPanel-runCellMap-button:hover {
  border-color: var(--jp-content-font-color1);
  color: var(--jp-ui-font-color1);
}
.v-VerdantPanel-runCellMap-cell-changed.run {
  background-color: var(--verdant-cell-change-color2);
}
.v-VerdantPanel-runCellMap-cell-changed.highlight {
  border-color: var(--verdant-cell-change-color2);
}

.v-VerdantPanel-runCellMap-cell-removed {
  background-color: var(--verdant-cell-remove-color1);
}
.v-VerdantPanel-runCellMap-cell-removed.highlight {
  border-color: var(--verdant-cell-remove-color2);
}

.v-VerdantPanel-runCellMap-cell-added.run {
  background-color: var(--verdant-cell-add-color1);
}
.v-VerdantPanel-runCellMap-cell-added {
  background-color: var(--verdant-cell-add-color1);
}
.v-VerdantPanel-runCellMap-cell-added.highlight {
  border-color: var(--verdant-cell-add-color2);
}

.v-VerdantPanel-runCellMap-runSymbol {
  width: calc(100%);
  height: var(--jp-ui-font-size1);
  display: inline-block;
  font-size: var(--jp-ui-font-size1);
  text-align: center;
}

.v-VerdantPanel-starButton {
  min-width: 1.25em;
  vertical-align: top;
  min-height: 1.25em;
  margin-bottom: 0.25em;
  margin-left: calc(1em - 1px);
  display: inline-block;
  background-size: 100%;
  border: 1px solid transparent;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
  background-image: var(--verdant-icon-star);
}
.v-VerdantPanel-starButton.active {
  background-image: var(--verdant-icon-star-highlight);
}
.v-VerdantPanel-starButton.header {
  background-image: var(--verdant-icon-star-highlight);
  min-width: 1em;
  min-height: 1em;
  margin: 0px;
}
.v-VerdantPanel-starButton.header.highlight {
  background-image: var(--verdant-icon-star-header-highlight);
}

.v-VerdantPanel-noteIcon {
  min-width: 1.25em;
  vertical-align: top;
  min-height: 1.25em;
  margin-bottom: 0.25em;
  margin-left: calc(1em - 1px);
  display: inline-block;
  background-size: 100%;
  border: 1px solid transparent;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
  background-image: var(--verdant-icon-comment);
}
.v-VerdantPanel-noteIcon.header {
  background-image: var(--verdant-icon-comment-highlight);
  margin: 0px;
}

.v-VerdantPanel-noteInput-box {
  overflow: auto;
  padding: 0px 2px;
  border: 1px solid var(--jp-border-color3);
  background-color: var(--jp-input-active-background);
  height: min-content;
  display: inline-block;
  resize: vertical;
  min-height: 1.5em;
  margin-left: 8px;
  width: calc(100% - 3em - 8px);
}

.v-VerdantPanel-noteContainer {
  margin-left: -0.5em;
  width: calc(100%);
  display: flex;
  flex-direction: row;
  background: var(--jp-layout-color0);
  border-bottom: 1px solid var(--jp-content-font-color3);
}
.v-VerdantPanel-noteContainer.header {
  margin-left: 1.25em;
  border-color: transparent;
}

.v-VerdantPanel-noteInput {
  border-radius: 2px;
  display: inline-block;
  flex: 1 1 auto;
  float: left;
  border: none;
  margin-left: 0.5em;
  resize: none;
  outline: none;
  height: 1.5em;
  font-style: italic;
  font-size: var(--jp-ui-font-size1);
  color: var(--jp-ui-font-color);
}

.v-VerdantPanel-runItem-sampleRow {
  display: inline-flex;
  flex-direction: row;
  flex: 1 1 auto;
  max-width: calc(100% + 0.75em);
  margin-left: -1.75em;
}

.v-VerdantPanel-runItem-sampleButton {
  font-size: var(--jp-ui-font-size1);
  display: inline-block;
  max-width: 1.25em;
  flex: 1 1 1.25em;
  margin-bottom: 0.5em;
  background-color: transparent;
  background-image: var(--verdant-icon-time);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 0.85em;
}
.v-VerdantPanel-runItem-sampleButton:hover {
  background-color: var(--jp-brand-color2);
  background-image: var(--verdant-icon-time-highlight);
}
