.v-VerdantPanel-cellList-sample {
  white-space: nowrap;
  padding: var(--jp-code-padding);
  width: calc(100% - var(--jp-code-padding));
  text-overflow: ellipsis;
  margin: 0px;
  overflow: hidden;
  /*height: calc(2em + var(--jp-code-padding));*/
  min-height: 1em;
}

.v-VerdantPanel-cellList-sample.highlight {
  margin-left: calc(0.5em - 2px);
  border-color: var(--jp-brand-color1);
  border-width: 4px;
  border-radius: var(--jp-border-radius);
}
.v-VerdantPanel-cellList-sample.c {
  font-family: var(--jp-code-font-family);
  font-size: var(--jp-code-font-size);
  padding: var(--jp-code-padding);
  line-height: var(--jp-code-line-height);
}

.v-VerdantPanel-cellList-sample h1,
.v-VerdantPanel-cellList-sample h2,
.v-VerdantPanel-cellList-sample h3,
.v-VerdantPanel-cellList-sample h4,
.v-VerdantPanel-cellList-sample h5,
.v-VerdantPanel-cellList-sample h6,
.v-VerdantPanel-cellList-sample p {
  padding: 0px;
  margin: 0px;
}

.v-VerdantPanel-sampler-content {
  -webkit-margin-before: 5px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}

.v-VerdantPanel-sampler-version-content {
  width: max-content;
  padding-left: var(--jp-code-padding);
}
.v-VerdantPanel-sampler-version-content.overflow {
  border-bottom: 1px solid var(--jp-warn-color0);
  margin-bottom: 10px;
}

.v-VerdantPanel-sampler-version-content.markdown {
  font-family: var(--jp-content-font-family);
}

.v-Verdant-sampler-markdown-linebreak {
}

.v-VerdantPanel-sampler-version-content.code {
  white-space: nowrap;
  font-family: var(--jp-code-font-family);
  padding: var(--jp-code-padding);
}

.v-VerdantPanel-sampler-version-content.output pre {
  /*white-space: nowrap;*/
}

.v-VerdantPanel-sampler-version {
  display: flex;
  font-size: var(--jp-code-font-size);
  line-height: var(--jp-code-line-height);
  letter-spacing: var(--jp-cell-prompt-letter-spacing);
  font-family: var(--jp-cell-prompt-font-family);
  text-align: left;
  overflow-x: auto;
}
.v-VerdantPanel-sampler-version.code {
  background: var(--jp-cell-editor-background);
}
.v-VerdantPanel-sampler-version.last {
  border-bottom: var(--jp-border-width) solid transparent;
}
.v-VerdantPanel-sampler-version.markdown {
  font-size: var(--jp-ui-font-size1);
  color: var(--jp-ui-font-color1);
  font-family: var(--jp-ui-font-family);
}

.v-VerdantPanel-cellList-sample .jp-RenderedSVG img,
.v-VerdantPanel-sampler-version .jp-RenderedSVG img {
  height: 16px;
  width: 2em;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  flex: 0 0 auto; /* prevents icon shrinking in flex context */
  vertical-align: middle;
}

.markdown-sample {
  padding: 4px;
}
.markdown-sample h1,
.markdown-sample h2,
.markdown-sample h3,
.markdown-sample h4 {
  margin: 2px;
  font-size: initial;
}

.v-Verdant-sampler-code-same {
  display: inline-block;
}
.v-Verdant-sampler-code-added {
  /*tested for accessibility */
  color: #1a4936;
  display: inline-block;
  background: #e8ffd5;
}
.v-Verdant-sampler-code-removed {
  color: red;
  text-decoration: line-through;
  display: inline-block;
  background-color: var(--verdant-cell-remove-color0);
}

.v-VerdantPanel-sample-searchResult {
  background-color: #f7b500;
}

.v-VerdantPanel-sampler-version-header {
  font-size: var(--jp-ui-font-size0);
  padding-left: var(--jp-cell-padding);
  padding-top: var(--jp-cell-padding);
  color: var(--jp-content-font-color2);
  text-transform: uppercase;
  border-top: 1px solid var(--jp-border-color2);
}
.v-VerdantPanel-sampler-version-header.search {
  border-top: 0px;
}
.v-VerdantPanel-sampler-version-header.searchVerLabel {
  padding-inline-start: 2em;
  border-top: 0px;
}

.v-VerdantPanel-sampler-version-header-link {
  text-decoration: underline;
  color: var(--jp-content-link-color);
}

.v-VerdantPanel-wishbone-highlight {
  background-color: var(--jp-editor-selected-focused-background);
  opacity: 0.4;
}
.v-VerdantPanel-wishbone-code {
  z-index: 14;
}
.v-VerdantPanel-wishbone-code-mask {
  width: 100%;
  height: 100%;
  display: inline-block;
  position: absolute;
  z-index: 12;
  top: 0px;
  left: 0px;
  cursor: default;
}
.v-VerdantPanel-wishbone-code-mask.highlight {
  background-color: var(--jp-editor-selected-focused-background);
  opacity: 0.4;
}

.v-VerdantPanel-wishbone-code-highlight {
  background: var(--jp-editor-selected-focused-background) !important;
  background-color: var(--jp-editor-selected-focused-background);
}
