.v-VerdantPanel-Summary-title {
  width: 100%;
  padding: 8px;
  padding-top: 12px;
  text-align: center;
}

.v-VerdantPanel-Summary-header {
  display: inline-block;
  width: calc(100% - 10px);
  padding: 5px;
  border-bottom: 1px solid var(--jp-border-color3);
  margin: 0px;
  color: var(--jp-ui-font-color3);
}
.v-VerdantPanel-Summary-header-label {
  display: inline-block;
  text-align: center;
}
.v-VerdantPanel-Summary-header-label.cell {
  width: 25%;
}
.v-VerdantPanel-Summary-header-label.r {
  color: var(--jp-ui-font-color0);
  width: 15%;
}
.v-VerdantPanel-Summary-header-label.preview {
  width: 60%;
}

.v-VerdantPanel-Summary-table {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden scroll;
}

.v-VerdantPanel-Summary-table-row {
  position: relative;
  width: 100%;
  border-bottom: 1px solid var(--jp-border-color2);
  max-height: 50vh;
  overflow: hidden;
}
.v-VerdantPanel-Summary-table-row:hover,
.v-VerdantPanel-Summary-table-row.c:hover {
  background-color: var(--verdant-ghost-color0);
}
.v-VerdantPanel-Summary-table-row.c {
  background-color: var(--jp-cell-editor-background);
}
.v-VerdantPanel-Summary-table-row.focused:before {
  position: absolute;
  content: "";
  height: 100%;
  width: var(--jp-cell-collapser-width);
  background-color: var(--jp-brand-color1);
  border-radius: var(--jp-border-radius);
}

.v-VerdantPanel-Summary-table-row-name {
  display: inline-block;
  width: 25%;
  text-align: center;
}
.v-VerdantPanel-Summary-table-row-name.o {
  vertical-align: top;
}
.v-VerdantPanel-Summary-table-row-version {
  display: inline-block;
  width: 15%;
  text-align: center;
  font-weight: bold;
}

.v-VerdantPanel-Summary-table-row-sample {
  display: inline-block;
  width: calc(60% - 1px);
  vertical-align: middle;
  border-left: 1px solid var(--jp-border-color2);
}

.v-VerdantPanel-Summary-table-row-outputLabel {
  display: inline-block;
  position: relative;
  border-left: 1px solid var(--jp-content-font-color2);
  border-bottom: 1px solid var(--jp-content-font-color2);
  padding: 0.25em 0.5em;
  margin-bottom: 6px;
  margin-left: calc(50% - 0.5em);
  font-size: smaller;
}
.v-VerdantPanel-Summary-table-row-outputLabel:after {
  position: absolute;
  content: "";
  bottom: -4px;
  right: -6px;
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 6px solid var(--jp-content-font-color2);
}
