.v-VerdantPanel {
  display: flex;
  flex-direction: column;
}

.v-VerdantPanel-header-title {
  padding-top: 8px;
}

.v-VerdantPanel-header-notebookLabel {
  display: inline-flex;
  padding-top: 8px;
  flex: 1 1 auto;
  padding-left: 0.75em;
}
.v-VerdantPanel-header-notebookLabel:hover {
  background: var(--jp-layout-color2);
}
.v-VerdantPanel-header-notebookLabel.closed {
  color: var(--jp-ui-font-color3);
}

.v-VerdantPanel-header-cellLabel {
  display: inline-flex;
  border-left: var(--jp-border-width) solid var(--jp-border-color0);
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8px;
  flex: 1 1 auto;
}
.v-VerdantPanel-header-cellLabel:hover {
  background: var(--jp-layout-color2);
}
.v-VerdantPanel-header-cellLabel.closed {
  color: var(--jp-ui-font-color3);
}

.v-VerdantPanel-search-input {
  background: transparent;
  width: 100%;
  float: left;
  border: none;
  outline: none;
  font-size: var(--jp-ui-font-size1);
  color: var(--jp-ui-font-color0);
  line-height: var(--jp-private-commandpalette-search-height);
  margin-top: -0.25em;
}

.v-VerdantPanel-search-container {
  padding: 2px;
  padding-top: 4px;
  padding-left: 6px;
  background-color: var(--jp-layout-color2);
  border-bottom: 1px solid var(--jp-border-color1);
  overflow: visible;
  z-index: 2;
  display: inherit;
  min-height: 33px;
}

.v-VerdantPanel-search-box {
  overflow: overlay;
  flex: 1 1 auto;
  padding: 0px 8px;
  border: 1px solid var(--jp-border-color0);
  background-color: var(--jp-input-active-background);
  height: 24px;
  display: inline-block;
}

.v-VerdantPanel-search-filter {
  min-width: 24px;
  min-height: 20px;
  position: relative;
  display: inline-block;
  background-size: 14px;
  border: 1px solid transparent;
  background-repeat: no-repeat;
  background-position: center;
}
.v-VerdantPanel-search-filter::before,
.v-VerdantPanel-search-filter::after {
  box-sizing: inherit;
  content: "";
  position: absolute;
  width: 20px;
  height: 16px;
}
.v-VerdantPanel-search-filter:hover {
  border: 1px solid var(--jp-toolbar-border-color);
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.24);
}
.v-VerdantPanel-search-filter.clippy {
  background-image: var(--verdant-icon-clipboard);
}
.v-VerdantPanel-search-filter.star {
  background-image: var(--verdant-icon-star);
}
.v-VerdantPanel-search-filter.comment {
  background-image: var(--verdant-icon-comment);
}
.v-VerdantPanel-search-filter.added {
  background-image: var(--verdant-icon-add-filter);
}
.v-VerdantPanel-search-filter.removed {
  background-image: var(--verdant-icon-remove-filter);
}
.v-VerdantPanel-search-filter.changed {
  background-image: var(--verdant-icon-mod-filter);
}
.v-VerdantPanel-search-filter.highlight {
  background-color: var(--jp-layout-color1);
  border: 1px solid var(--jp-toolbar-border-color);
}
.v-VerdantPanel-search-filter.active {
  background-image: var(--verdant-icon-clipboard-highlight);
}
.v-VerdantPanel-search-filter.star.highlight {
  background-image: var(--verdant-icon-star-highlight);
}
.v-VerdantPanel-search-filter.star.active {
  background-image: var(--verdant-icon-star-highlight);
}
.v-VerdantPanel-search-filter.comment.highlight {
  background-image: var(--verdant-icon-comment-highlight);
}
.v-VerdantPanel-search-filter.comment.active {
  background-image: var(--verdant-icon-comment-highlight);
}

.v-VerdantPanel-search-results-label {
  display: inline-block;
  margin-left: 4px;
  font-style: italic;
  vertical-align: top;
  margin-top: 0.25em;
  margin-bottom: 0.5em;
  text-align: center;
  color: var(--jp-brand-color0);
}
